@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --purple-color: #8721da;
}
.bluegradient {
  background: linear-gradient(220.55deg, #ff5eef 0%, #456eff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
body {
  background-image: radial-gradient(
    circle 815px at 23.4% -21.8%,
    rgba(9, 29, 85, 1) 58.2%,
    rgba(0, 0, 0, 0.992) 100.2%
  );
}
body::-webkit-scrollbar {
  display: none;
}

#header,
#home,
#skills,
#Experience,
#footer {
  background-image: radial-gradient(
    circle 815px at 23.4% -21.8%,
    rgba(9, 29, 85, 1) 0.2%,
    rgba(0, 0, 0, 0) 100.2%
  );
}
#Whatido,
#projects,
#contact {
  background-image: radial-gradient(
    circle 815px at 23.4% 121.8%,
    rgba(9, 29, 85, 1) 0.2%,
    rgba(0, 0, 0, 0) 100.2%
  );
}
.active {
  border-bottom: 3px solid white;
  color: white !important;
}

.navbar a {
  color: rgba(255, 255, 255, 0.719);
  transition: color 0.2s;
}
.navbar a:hover {
  color: white;
}

/* small navbar */
/* .css-ciy9n4-MuiPaper-root-MuiAppBar-root,
.css-jzk4qw-MuiPaper-root-MuiAppBar-root {
  background-color: transparent !important;

  backdrop-filter: blur(10px);
} */

.graycolor {
  color: rgba(255, 255, 255, 0.558);
}
.FontGrayColor {
  color: rgba(9, 1, 1, 0.636);
}
.download-btn {
  height: 45px;
  width: 130px;
  cursor: pointer;
  background: white;
  border: none;
  background: var(--purple-color);
  border-radius: 30px;
  overflow: hidden;
}

.button-content {
  transform: translateY(-45px);
  transition: transform 250ms ease-in-out;
}

.svg-container,
.text-container {
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container .text {
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  opacity: 1;
  transition: opacity ease-in-out 250ms;
}

.download-icon {
  height: 25px;
  width: 25px;
  fill: #fff;
  opacity: 0;
  transition: opacity ease-in-out 250ms;
}

/* hover state for the button */
.download-btn:hover .button-content {
  transform: translateY(0px);
}

.download-btn:hover .text {
  opacity: 0;
}

.download-btn:hover .download-icon {
  opacity: 1;
}

.download-btn:hover .download-icon {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/* hover state for the button */

/* get in touch button  */
.getintouch {
  display: inline-block;
  border-radius: 8px;
  background-color: var(--purple-color);
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 17px;

  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
}

.getintouch span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.getintouch span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.getintouch:hover span {
  padding-right: 15px;
}

.getintouch:hover span:after {
  opacity: 1;
  right: 0;
}

.cardborder {
  border: 1px solid;
  border-image: linear-gradient(220.55deg, #ff5eef 0%, #456eff 100%) 1;
  border-image-slice: 1;
  /* border-radius: 10px; */
}

/* CSS */
.cardborder:hover {
  transform: scale(1.03);

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08),
    rgba(255, 94, 239, 0.8) 0px 2px 8px 0px,
    0 2px 4px -1px rgba(69, 110, 255, 0.5);
}

.animatescrollbutton {
  animation: floating 2s ease-in-out infinite;
  animation-delay: 3s;
}
.floatinganimation {
  animation: floatingavatar 3s infinite;
}
.scrbtn {
  position: absolute;
  top: 80%;
  cursor: pointer;
  left: 50%;
}
/* scrollbtn */
@keyframes floating {
  0%,
  100% {
    transform: translateY(0);
    animation-timing-function: ease-in-out;
  }
  50% {
    transform: translateY(1rem);
    animation-timing-function: ease-in-out;
  }
}

/* avatar animation  */

@keyframes floatingavatar {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-in;
  }
  25% {
    transform: translateY(0.5rem);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(1rem);
    animation-timing-function: ease-in;
  }
  75% {
    transform: translateY(0.5rem);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}

.floatinganimation {
  animation: floating 3s infinite;
}

/* circle animation */
@keyframes rotate {
  0% {
    transform: rotate(0deg) translate(250px) rotate(0deg); /* Increased radius to 300px */
  }
  100% {
    transform: rotate(360deg) translate(250px) rotate(-360deg); /* Increased radius to 300px */
  }
}

.image1,
.image2,
.image3,
.image4,
.image5,
.image6,
.image7,
.image8,
.image9,
.image10,
.image11,
.image12 {
  position: absolute;
  top: 45%;
  left: 48%;
  transform-origin: -250px 0;
  animation: rotate 24s linear infinite;
  transform: translate(-50%, -50%);
}

.image1 {
  animation-delay: 0s;
}
.image2 {
  animation-delay: -2s;
}
.image3 {
  animation-delay: -4s;
}
.image4 {
  animation-delay: -6s;
}
.image5 {
  animation-delay: -8s;
}
.image6 {
  animation-delay: -10s;
}
.image7 {
  animation-delay: -12s;
}
.image8 {
  animation-delay: -14s;
}
.image9 {
  animation-delay: -16s;
}
.image10 {
  animation-delay: -18s;
}
.image11 {
  animation-delay: -20s;
}
.image12 {
  animation-delay: -22s;
}

@media (max-width: 600px) {
  .image1,
  .image2,
  .image3,
  .image4,
  .image5,
  .image6,
  .image7,
  .image8,
  .image9,
  .image10,
  .image11,
  .image12 {
    position: absolute;
    top: 45%;
    left: 46%;
    transform-origin: -250px 0;
    animation: rotate2 24s linear infinite;

    transform: translate(-50%, -50%);
  }
  @keyframes rotate2 {
    0% {
      transform: rotate(0deg) translate(180px) rotate(0deg); /* Increased radius to 300px */
    }
    100% {
      transform: rotate(360deg) translate(180px) rotate(-360deg); /* Increased radius to 300px */
    }
  }

  .image1 {
    animation-delay: 0s;
  }
  .image2 {
    animation-delay: -2s;
  }
  .image3 {
    animation-delay: -4s;
  }
  .image4 {
    animation-delay: -6s;
  }
  .image5 {
    animation-delay: -8s;
  }
  .image6 {
    animation-delay: -10s;
  }
  .image7 {
    animation-delay: -12s;
  }
  .image8 {
    animation-delay: -14s;
  }
  .image9 {
    animation-delay: -16s;
  }
  .image10 {
    animation-delay: -18s;
  }
  .image11 {
    animation-delay: -20s;
  }
  .image12 {
    animation-delay: -22s;
  }
}

@media (max-width: 400px) {
  .image1,
  .image2,
  .image3,
  .image4,
  .image5,
  .image6,
  .image7,
  .image8,
  .image9,
  .image10,
  .image11,
  .image12 {
    position: absolute;
    top: 37%;
    left: 46%;
    transform-origin: -250px 0;
    animation: rotate2 24s linear infinite;

    transform: translate(-50%, -50%);
  }
  @keyframes rotate2 {
    0% {
      transform: rotate(0deg) translate(150px) rotate(0deg); /* Increased radius to 300px */
    }
    100% {
      transform: rotate(360deg) translate(150px) rotate(-360deg); /* Increased radius to 300px */
    }
  }

  .image1 {
    animation-delay: 0s;
  }
  .image2 {
    animation-delay: -2s;
  }
  .image3 {
    animation-delay: -4s;
  }
  .image4 {
    animation-delay: -6s;
  }
  .image5 {
    animation-delay: -8s;
  }
  .image6 {
    animation-delay: -10s;
  }
  .image7 {
    animation-delay: -12s;
  }
  .image8 {
    animation-delay: -14s;
  }
  .image9 {
    animation-delay: -16s;
  }
  .image10 {
    animation-delay: -18s;
  }
  .image11 {
    animation-delay: -20s;
  }
  .image12 {
    animation-delay: -22s;
  }
}
.card {
  border: 1px solid #8721da;
}

.projectbtns {
  background-color: var(--purple-color);
  transition: background-color 0.3s;
}
.projectbtns:hover {
  background-color: #7908d5;
}

/* .swiper-pagination {
  bottom: -1.5% !important;
  width: 8% !important;
  z-index: 2;
  left: 47% !important;
  background-color: #8721da4a;
} */
.swiper-button-prev,
.swiper-button-next {
  color: var(--purple-color) !important;

  position: absolute;
  top: 82% !important;
}

.slick-next {
  color: rgb(0, 0, 0) !important;
}

.slick-prev {
  color: rgb(0, 0, 0) !important;
}
.swiper-slide {
  display: flex !important;
  justify-content: center !important;
}

@media (max-width: 500px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}

@media (max-width: 360px) {
  .card {
    width: 250px;
    padding: 10px;
    height: 555px;
  }
}

.form {
  background-color: transparent;
}
